@media only screen and (max-width: 1024px) {
	
}
/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {


}
/* Mobile Screen */
@media only screen and (max-width: 767px) {
  .popup-box .modal-dialog{ width: 95% !important; }
  .popup-box .modal-dialog .modal-content .modal-body .content{ padding: 30px; }
  .popup-box .modal-dialog .modal-content .modal-body .title{ font-size: 30px; }
  .popup-box .modal-dialog .modal-content .modal-body .image{height: 200px; overflow: hidden;}
  .popup-box .modal-dialog .modal-content .modal-body .modal-image{ height: auto;}

}

@media only screen and (max-width: 650px) and (min-width: 400px){
  .testimonial:before{ border-right: 325px solid transparent; }
  .testimonial:after{ border-left: 325px solid transparent; }
}